body {
    margin: 0;
    padding: 0 20px 20px 20px;
    width: 720px;
    box-sizing: border-box;
    background-color: #1F2937;

    font-family: Arial, Helvetica, sans-serif;
}

#corner-btn-container {
    display: flex;
    justify-content: right;
    
    margin: 20px 20px 110px 0;
}

#mode-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    background-color: #4ADF86;
    height: 35px;
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
    color: whitesmoke;
    white-space: nowrap; /* keeps text on a single line
    
    /* Automatically scale text to container width */
    font-size: min(16px, 200px / 10); /* Adjust divisor to control scaling */

}

.main-text {
    padding-top: -10px;
    padding-bottom: -10px;
}

#upper {
    font-weight: bold;
    margin: -2px;
    color: whitesmoke;
}

#lower {
    font-weight: bold;
    margin: -2px;
    color: #4ADF86;
}

#msg {
    margin-top: -0.5;
    color: #D5D4D8;
}

.b1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    background-color: #4ADF86;
    height: 35px;
    width: 220px;
    margin-top: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
    color: whitesmoke;
    white-space: nowrap; /* keeps text on a single line
    
    /* Automatically scale text to container width */
    font-size: min(16px, 200px / 10); /* Adjust divisor to control scaling */
    
    margin-right: 10px;
    margin-left: 10px;

}

button {
    box-shadow: 0 3.5px #999;
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.b2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    background-color: #2F3E53;
    height: 35px;
    width: 220px;
    margin-top: 40px;
    margin-right: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
    color: #4ADF86;
    white-space: nowrap; /* keeps text on a single line
    
    /* Automatically scale text to container width */
    font-size: min(16px, 200px / 10); /* Adjust divisor to control scaling */
}

.b3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    background-color: #2F3E53;
    height: 35px;
    width: 220px;
    padding: 10px;
    border: none;
    
    color: whitesmoke;
    white-space: nowrap; /* keeps text on a single line
    
    /* Automatically scale text to container width */
    font-size: min(16px, 200px / 10); /* Adjust divisor to control scaling */
}


.dropdown {
  position: relative;
  margin-left: 20px;
}

/* Style the dropdown button */
.dropdiv {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    background-color: #2F3E53;
    height: 15px;
    width: 200px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: -10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
    color: whitesmoke;
    white-space: nowrap; /* keeps text on a single line
    
    /* Automatically scale text to container width */
    font-size: min(16px, 200px / 10); /* Adjust divisor to control scaling */
    box-shadow: 0 3.5px #999;
}


/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: -10px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropdiv {
  background-color: #4ADF86;
}

.b4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    background-color: #2F3E53;
    height: 35px;
    width: 220px;
    margin-top: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
    color: whitesmoke;
    white-space: nowrap; /* keeps text on a single line
    
    /* Automatically scale text to container width */
    font-size: min(16px, 200px / 10); /* Adjust divisor to control scaling */
    
    margin-right: 10px;
    margin-left: 10px;
}

#line {
    margin-top: 30px;
    color: #2F3E53;
}

.password-container {
    margin-top: -10px;

    display: flex;
}

.button-container {
    margin-top: -10px;
    margin-left: -10px;

    display: flex;

}